* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #444;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 200px;
}

.container p {
  padding: 20px;
}

.container p:hover {
  background: #fff;
  color: #444;
  cursor: pointer;
}

div.name {
  height: 300px;
  position: relative;
}

div.name h1,
div.name h4 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

div.name h4 {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
}

.bg-light {
  background: #fff;
  color: #444;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
  padding-bottom: 20px;
  height: 700px;
}

.container1 {
  display: flex;
  flex-direction: row;
}

.container1 p {
  height: 350px;
}

.secpara {
  margin-top: -120px;
}

.container1 h3 {
  margin-bottom: 20px;
}

img {
  min-width: 100%;
  height: 400px;
  padding-left: 150px;
  padding-top: 50px;
  border-radius: 30px;
}

.btn {
  margin-top: -130px;
  margin-left: 250px;
}

.btn button {
  padding: 8px;
  cursor: pointer;
}

.btn button:nth-child(1) {
  background-color: #f4f4f4;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 500;
  border-color: #fff;
}

.btn button:nth-child(2) {
  background-color: #c11b17;
  font-size: 16px;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  border-color: #fff;
}

.btn button:nth-child(3) {
  background-color: #e55b3c;
  font-size: 16px;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  border-color: #fff;
}

.btn i {
  font-size: 14px;
}

#quotes h3 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 400px;
}

.bg-light1 {
  background: #fff;
  color: #444;
  padding-left: 250px;
  padding-right: 250px;
}

.container2 {
  display: flex;
  flex-direction: row;
}

.item {
  border: 1px #fff solid;
  background-color: #ffffcc;
  padding: 10px;
  margin-right: 10px;
}

.item p {
  padding-bottom: 10px;
}

.emp {
  margin-top: 25px;
}

.item p:nth-child(1) {
  font-weight: bolder;
}

.item p:nth-child(2) {
  font-weight: lighter;
}

.item p:nth-child(3) {
  font-weight: 500;
}

.heading {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding: 30px;
}

.topics {
  padding-top: 50px;
  padding-right: 150px;
  font-size: 13px;
  padding-bottom: 100px;
}

.heading1 {
  font-size: 20px;
  font-weight: bolder;
  padding-top: 100px;
}

.container3 {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

footer p {
  width: 200px;
  font-size: 13px;
}

footer div p:nth-child(1) {
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 15px;
}

footer div p:nth-child(2) {
  padding-bottom: 20px;
  font-weight: 500;
}

.footer1 {
  padding: 10px;
  border-right: #fff 1px dotted;
}

footer div:nth-child(3) {
  padding: 10px;
  padding-left: 20px;
}

.edit {
  padding-right: -100px;
}

.line {
  border-bottom: 1px solid lightgrey;
  width: 330px;
  margin-top: 15px;
}
